.theme-toggle-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--p-text-muted-color);
  padding: 0.4rem;
  border-radius: var(--p-content-border-radius);

  &:hover {
    background: var(--p-content-hover-background);
    color: var(--p-text-color);
  }
}
